.main {
    flex: 1;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 12px;
    }
}

.header {
    position: sticky;
    top: -1px;
    z-index: 1000;
    background-color: var(--color-bg);

    padding: 15px 0;
    border-bottom: 1px solid var(--color-border-header);
    box-shadow: var(--shadow-sm);
}

.hero {
    padding: 30px 0;
}

.footer {
    background-color: black;
    padding: 20px 0;
    border-top: 1px solid var(--color-border-header);
}